@model Online_Shopping_Store.Models.Order

@using Online_Shopping_Store.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor



@{
    ViewData["Title"] = "Order Details";
}

@{
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
}


<br />
<h2>Order Details</h2>
<br />
<form asp-action="CheckOut" method="post" enctype="multipart/form-data">
    <div class="rounded border p-4 row">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">
                    <input type="hidden" asp-for="Id" />
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PhoneNo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Address"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OrderDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OrderDate" class="form-control" />
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Model</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in products)
                    {
                        <tr>
                            <th><img src="~/@item.Image" style="border-radius: 5px; width: 200px; height:100px; border: 1px solid #808080" /></th>
                            <th>@item.Name</th>
                            <th>@item.Price</th>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-right">
                <h4 class="text-info">Total Price : @products.Sum(c => c.Price)</h4>
            </div>
            <div class="form-group">
                <input class="btn btn-success" value="Order Submit" type="submit" />
                <a asp-action="Index" asp-controller="Home" asp-area="Customer" class="btn-warning btn">Cancel Order</a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
