@using Online_Shopping_Store.Models;
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Products>
@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size: 20px; color: brown">@product.Name</label>
                    </h4>
                </div>
                <img src="~/@product.Image" class="img-fluid card-img-top" alt="card-image" style="height: 300px" />
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                            <label class="btn btn-secondary"><strong>Price : @product.Price</strong></label>
                        </div>
                        <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-info pull-right btn-outline-dark">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="pagination-container">
    <ul class="pagination">
        <li class="active">
            @Html.PagedListPager(Model, c => Href("~/Customer/Home/Index?page=" + c))
        </li>
    </ul>
</div>
<br />
<br />